@import "tailwindcss";

@theme {
	/*Custom colours for the main app*/
	--color-background: #f7f6f2;
	--color-surface: #fffffff;
	--color-cell-unknown: #f0eee9;
	--color-cell-filled: #3d5a80;
	--color-cell-marked-empty: #c9c5bc;
	--color-accent-primary: #3d5a80;
	--color-accent-win: #4caf78;
	--color-accent-error: #e07a5f;
	--color-text-primary: #1c1c1e;
	--color-text-muted: #6b6b6b;
	--color-clue-number: #3d3d3d;

	/*Custom colours for high contrast mode*/
	--color-contrast-background: #ffffff;
	--color-contrast-cell-filled: #000000;
	--color-contrast-accent-primary: #0053bf;
	--color-contrast-accent-error: #d62e00;
	--color-contrast-accent-win: #00ff73;
}